.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f7f5;
  padding: 5rem;
  width: 100%;
  height: 100%;
}

.hero__figure {
  width: 100%;
  height: 100%;
}

.hero__figure__img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.about {
  background-color: #00473e;
  color: white;
  padding: 5rem;
}

.about__wrapper {
  color: white;
  border: 2px solid white;
  background-color: #00473e;
  padding: 5rem;
}

.about__wrapper__text {
  margin-top: 1rem;
} 

.about__wrapper__title {
  text-align: center;
} 